In [ ]:
# abc

In [7]:
x=5
x

5

In [6]:
x

5

In [10]:
a=5-3.7

In [11]:
a

1.2999999999999998

In [12]:
a+.3

1.5999999999999999

In [27]:
g_h=92
g_w=48.8
area=g_h*g_w
area

4489.599999999999

In [16]:
a=9*1.49
b=20-a
b

6.59

In [18]:
a=5.5**2
b=a*500
b

15125.0

In [26]:
format(17,"b")

'10001'

In [38]:
f='Rajeesh'
m='Jagdish'
l='Dayalani'
print("my full name is:"+ f +" "+ m +" "+ l)

my full name is:Rajeesh Jagdish Dayalani

In [39]:
17%3

2

In [93]:
street = 'ccx 240'
city='adipur'
country='India'
#address=('my full adress is:'+'\n'+ street + '\n' + city + '\n' + country)
address=(f'my full add is \n{street}\n{city} \n{country}')
print(address)

my full add is
ccx 240
adipur
India

In [108]:
e='Earth revolves around the sun'
print(e[6:14])
print(e[-3:])

revolves
sun

In [116]:
veg=10
fru=2
print(f'i eat daily \nvegitable ={veg} \n fruit={fru}' )

i eat daily
vegitable =10
 fruit=2

In [125]:
c='i have eat 200 banana'
c=c.replace('200', '10').replace('banana', 'samosa')
print(c)

i have eat 10 samosa

In [129]:
height=input('enter height of triangle')
base=input('enter base of tringle')
area=(1/2)*float(height)*float(base)
print(area)

enter height of triangle10
enter base of tringle14
70.0

In [147]:
fn=input('enter file name with ext')
print(fn[:-4])

enter file name with extraj.exe
raj

In [163]:
li=('my name is lakhan')
'my' in li

True

In [207]:
l2=['raja', 'inside', 300.11, 23, 5+4j]
l2.append('4k')
l2.insert(2, 12.1213)
l2
l3=['mithai', 98]
l4=l2+l3
l4

['raja', 'inside', 12.1213, 300.11, 23, (5+4j), '4k', 'mithai', 98]

In [213]:
l4.reverse()
l4

[98, 'mithai', '4k', (5+4j), 23, 300.11, 12.1213, 'inside', 'raja']

In [217]:
l4[0:2]=['jallo', 44, 'palav', 'dinchak']
l4

['jallo',
 44,
 'palav',
 'dinchak',
 (5+4j),
 23,
 300.11,
 12.1213,
 'inside',
 'raja']

In [219]:
j=l4[1]+l4[4].real
j

49.0

In [233]:
exp=[2200, 2350, 2600, 2130, 2190, 'jan', 'feb', 'mar', 'apr', 'may']
feb=exp[1]-exp[0]
print(feb)
print(exp[0]+exp[1]+exp[2])
print (2000 in exp)
exp.append(1980)
print(exp)
exp[3]=(exp[3]-200)
print(exp)

150
7150
False
[2200, 2350, 2600, 2130, 2190, 'jan', 'feb', 'mar', 'apr', 'may', 1980]
[2200, 2350, 2600, 1930, 2190, 'jan', 'feb', 'mar', 'apr', 'may', 1980]

In [250]:
hero=['spider man','thor','hulk','iron man','captain america']
print (len(hero))
hero.append('black panther')
print(hero)
hero.remove('black panther')
print(hero)
hero.insert(3,'black panther')
print(hero)
hero[1:3]=(['doctor'])
print(hero)
hero.sort()
print(hero)

5
['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']
['spider man', 'thor', 'hulk', 'iron man', 'captain america']
['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']
['spider man', 'doctor', 'black panther', 'iron man', 'captain america']
['black panther', 'captain america', 'doctor', 'iron man', 'spider man']